@page "/"
@using WMaxZimmerman.Site.ApplicationCore.Services;
@using System.Linq;

<h1>Welcome to my site!</h1>

Here are some presentations I am working on:

<ul>
    @foreach (var link in new ResourceService().GetPresentationLinks())
    {
        <li><a href="@link.Location">@link.Title</a></li>
    }
</ul>
