@page "/"
@using WMaxZimmerman.Site.ApplicationCore.Services;
@using System.Linq;

<h1>Welcome to my site!</h1>

<p>
I am guy who likes to program, play games, and have a good time. This is my site where I can jot down some of my thoughts
and keep track of things I find useful. Hopefully you enjoy some of the information here.
</p>